pipeline/CustomerOrderIncrementalPipeline.json
{
	"name": "CustomerOrderIncrementalPipeline",
	"properties": {
		"activities": [
			{
				"name": "watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "watermarkJson",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "watermark_AuditTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT ISNULL(MAX(A.WATERMARKVALUE),'1900-01-01') AS LastWatermarkValue\nFROM [dbo].[ADF_LoadControl] A\nWHERE A.PipelineName = '@{pipeline().Pipeline}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TrackPipelineLogs",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CountRowsOfStagingTable",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "watermark_AuditTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT COUNT(*) AS TotalRows\nFROM @{pipeline().parameters.Stagingschema_name}.@{pipeline().parameters.Stagingtable_name}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "CountRowsOfProTable",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "CountRowsOfStagingTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT COUNT(*) AS TotalRows\nFROM @{pipeline().parameters.Proschema_name}.@{pipeline().parameters.Prodtable_name}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ValidateStagingSchema",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "CountRowsOfProTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT\n    COUNT(*) AS SchemaMismatchCount\nFROM (\n    SELECT COLUMN_NAME, DATA_TYPE, IS_NULLABLE\n    FROM INFORMATION_SCHEMA.COLUMNS\n    WHERE TABLE_SCHEMA = '@{pipeline().parameters.Stagingschema_name}'\n      AND TABLE_NAME = '@{pipeline().parameters.Stagingtable_name}'\n\n    EXCEPT\n\n    SELECT COLUMN_NAME, DATA_TYPE, IS_NULLABLE\n    FROM INFORMATION_SCHEMA.COLUMNS\n    WHERE TABLE_SCHEMA = '@{pipeline().parameters.Proschema_name}'\n      AND TABLE_NAME = '@{pipeline().parameters.Prodtable_name}'\n) Diff",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ValidateStagingSchema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n    greater(\n        activity('CountRowsOfStagingTable').output.resultSets[0].rows[0].TotalRows,\n        activity('CountRowsOfProTable').output.resultSets[0].rows[0].TotalRows\n    ),\n    equals(\n        activity('ValidateStagingSchema').output.resultSets[0].rows[0].SchemaMismatchCount,\n        0\n    )\n)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load_From_stagingTo_ProductionTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT *\nFROM @{pipeline().parameters.Stagingschema_name}.@{pipeline().parameters.Stagingtable_name}\nWHERE LOADDATE > @{activity('watermark').output.firstRow.LOADDATE}\nAND LOADDATE > @{activity('watermark_AuditTable').output.firstRow.LOADDATE}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "StaggingTable",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@pipeline().parameters.Stagingtable_name",
											"type": "Expression"
										},
										"table_schema": {
											"value": "@pipeline().parameters.Stagingschema_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ProductionTable",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@pipeline().parameters.Prodtable_name",
											"type": "Expression"
										},
										"table_schema": {
											"value": "@pipeline().parameters.Proschema_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "MAX_WaterMark",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Load_From_stagingTo_ProductionTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT MAX(LOADDATE) AS 'MaxDate'\nFROM @{pipeline().parameters.Stagingschema_name}.@{pipeline().parameters.Stagingtable_name}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "StaggingTable",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@pipeline().parameters.Stagingtable_name",
											"type": "Expression"
										},
										"table_schema": {
											"value": "@pipeline().parameters.Stagingtable_name",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "UpdateJsonWatermark",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "MAX_WaterMark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "lastupdateddate",
											"value": {
												"value": "@activity('MAX_WaterMark').output.firstRow",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "emtycustomerwatermark",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "watermarkJson",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_InsertADFLoadControl]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": "",
							"type": "String"
						},
						"ErrorMessage": {
							"value": "",
							"type": "String"
						},
						"LoadStatus": {
							"value": "",
							"type": "String"
						},
						"LoadType": {
							"value": "",
							"type": "String"
						},
						"PipelineName": {
							"value": "",
							"type": "String"
						},
						"PipelineRunID": {
							"value": "",
							"type": "String"
						},
						"RowsInserted": {
							"value": "",
							"type": "Int64"
						},
						"RowsRead": {
							"value": "",
							"type": "Int64"
						},
						"RowsUpdated": {
							"value": "",
							"type": "Int64"
						},
						"SourceObject": {
							"value": "",
							"type": "String"
						},
						"SourceSystem": {
							"value": "",
							"type": "String"
						},
						"TargetSchema": {
							"value": "",
							"type": "String"
						},
						"TargetTable": {
							"value": "",
							"type": "String"
						},
						"WatermarkColumn": {
							"value": "",
							"type": "String"
						},
						"WatermarkValue": {
							"value": "",
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Stagingtable_name": {
				"type": "string"
			},
			"Stagingschema_name": {
				"type": "string"
			},
			"Prodtable_name": {
				"type": "string"
			},
			"Proschema_name": {
				"type": "string"
			}
		},
		"variables": {
			"hello": {
				"type": "String",
				"defaultValue": "hello"
			}
		},
		"annotations": []
	}
}