pipeline/IncrementalLegalPipeline.json
{
	"name": "IncrementalLegalPipeline",
	"properties": {
		"activities": [
			{
				"name": "watermark_Json",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "watermark_logTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT ISNULL(MAX(A.WATERMARKVALUE),'1900-01-01') AS LastWatermarkValue\nFROM [dbo].[ADF_LoadControl] A\nWHERE A.PipelineName = '@{pipeline().Pipeline}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADF_logControlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stg_RowCount",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "watermark_Json",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "watermark_logTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "01:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@{concat('SELECT COUNT(*) AS [RowCount] FROM [', pipeline().parameters.table_schema, '].[', pipeline().parameters.st_table_name, ']')}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Prod_RowCount",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "stg_RowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "01:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@{concat('SELECT COUNT(*) AS [RowCount] FROM [', pipeline().parameters.table_schema, '].[', pipeline().parameters.table_name, ']')}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "SchemaChecker",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Prod_RowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "01:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@{concat('\nSELECT COUNT(*) AS SchemaMismatchCount\nFROM (\n    SELECT COLUMN_NAME, DATA_TYPE, IS_NULLABLE\n    FROM INFORMATION_SCHEMA.COLUMNS\n    WHERE TABLE_SCHEMA = ''', pipeline().parameters.table_schema, '''\n      AND TABLE_NAME = ''', pipeline().parameters.st_table_name, '''\n    EXCEPT\n    SELECT COLUMN_NAME, DATA_TYPE, IS_NULLABLE\n    FROM INFORMATION_SCHEMA.COLUMNS\n    WHERE TABLE_SCHEMA = ''', pipeline().parameters.table_schema, '''\n      AND TABLE_NAME = ''', pipeline().parameters.table_name, '''\n) Diff')}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SchemaChecker",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n  greater(activity('stg_RowCount').output.resultSets[0].rows[0].RowCount, activity('Prod_RowCount').output.resultSets[0].rows[0].RowCount),\n  equals(activity('SchemaChecker').output.resultSets[0].rows[0].SchemaMismatchCount, 0)\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "LoadData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "00.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 3600,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{concat('\nSELECT *\nFROM [', pipeline().parameters.table_schema, '].[', pipeline().parameters.st_table_name, ']\nWHERE InsertedDate > ''', activity('watermark_logTable').output.firstRow.LastWatermarkValue, '''\n  AND InsertedDate > ''', activity('watermark_Json').output.firstRow.lastupdateddate, ''''\n)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"validateDataConsistency": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "AzureDataLakeStorage1",
											"type": "LinkedServiceReference"
										},
										"path": "bronze/OnlineSales"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "StagingTable",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@pipeline().parameters.st_table_name",
											"type": "Expression"
										},
										"table_schema": {
											"value": "@pipeline().parameters.table_schema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Prod_Table",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"table_schema": {
											"value": "@pipeline().parameters.table_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "MaxDate",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LoadData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{concat('\nSELECT MAX(InsertedDate) AS [MaxDate]\nFROM [', pipeline().parameters.table_schema, '].[', pipeline().parameters.st_table_name, ']'\n)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "StagingTable",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@pipeline().parameters.st_table_name",
											"type": "Expression"
										},
										"table_schema": {
											"value": "@pipeline().parameters.table_schema",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "CaptureNewWaterMark",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "MaxDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "lastupdateddate",
											"value": {
												"value": "@activity('MaxDate').output.firstRow.MaxDate",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "emptywatermark",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "watermark",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "UpdateLogTable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_InsertADFLoadControl]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@if(\n    or(\n        equals(activity('LoadData'), null),\n        not(contains(activity('LoadData'), 'error'))\n    ),\n    'Success',\n    concat(\n        'ErrorCode: ', coalesce(activity('LoadData').error.errorCode, 'Failed'),\n        ' | Message: ', coalesce(activity('LoadData').error.message, 'Failed'),\n        ' | FailureType: ', coalesce(activity('LoadData').error.failureType, 'Failed')\n    )\n)",
								"type": "Expression"
							},
							"type": "String"
						},
						"LoadStatus": {
							"value": {
								"value": "@if(\n    or(\n        equals(activity('LoadData'), null),\n        or(\n            not(contains(activity('LoadData'), 'output')),\n            not(contains(activity('LoadData').output, 'rowsCopied'))\n        )\n    ),\n    'No New Data',\n    if(\n        greater(activity('LoadData').output.rowsCopied, 0),\n        'Success',\n        'No New Data'\n    )\n)",
								"type": "Expression"
							},
							"type": "String"
						},
						"LoadType": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsInserted": {
							"value": {
								"value": "@if(\n    or(\n        equals(activity('LoadData'), null),\n        or(\n            not(contains(activity('LoadData'), 'output')),\n            not(contains(activity('LoadData').output, 'rowsCopied'))\n        )\n    ),\n    0,\n    activity('LoadData').output.rowsCopied\n)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsRead": {
							"value": {
								"value": "@if(\n    or(\n        equals(activity('LoadData'), null),\n        or(\n            not(contains(activity('LoadData'), 'output')),\n            not(contains(activity('LoadData').output, 'rowsRead'))\n        )\n    ),\n    0,\n    activity('LoadData').output.rowsRead\n)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsUpdated": {
							"value": {
								"value": "@if(\n    or(\n        equals(activity('LoadData'), null),\n        or(\n            not(contains(activity('LoadData'), 'output')),\n            not(contains(activity('LoadData').output, 'rowsCopied'))\n        )\n    ),\n    0,\n    activity('LoadData').output.rowsCopied\n)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"SourceObject": {
							"value": {
								"value": "@pipeline().parameters.st_table_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceSystem": {
							"value": {
								"value": "@pipeline().parameters.st_table_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"TargetSchema": {
							"value": {
								"value": "@pipeline().parameters.table_schema",
								"type": "Expression"
							},
							"type": "String"
						},
						"TargetTable": {
							"value": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"WatermarkColumn": {
							"value": {
								"value": "@activity('watermark_logTable').output.firstRow",
								"type": "Expression"
							},
							"type": "String"
						},
						"WatermarkValue": {
							"value": {
								"value": "@activity('watermark_Json').output.firstRow.lastupdateddate",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string",
				"defaultValue": "FactLegal"
			},
			"table_schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"st_table_name": {
				"type": "string",
				"defaultValue": "stg_FactLegal"
			}
		},
		"variables": {
			"hello": {
				"type": "String",
				"defaultValue": "test"
			}
		},
		"annotations": []
	}
}