pipeline/IncrementalLegalPipeline.json
{
	"name": "IncrementalLegalPipeline",
	"properties": {
		"activities": [
			{
				"name": "watermark_Json",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "watermark_logTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT ISNULL(MAX(A.WATERMARKVALUE),'1900-01-01') AS LastWatermarkValue\nFROM [dbo].[ADF_LoadControl] A\nWHERE A.PipelineName = '@{pipeline().Pipeline}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADF_logControlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stg_RowCount",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "watermark_Json",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "watermark_logTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@{concat('SELECT COUNT(*) AS [RowCount] FROM [', pipeline().parameters.table_schema, '].[', pipeline().parameters.st_table_name, ']')}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Prod_RowCount",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "stg_RowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@{concat('SELECT COUNT(*) AS [RowCount] FROM [', pipeline().parameters.table_schema, '].[', pipeline().parameters.table_name, ']')}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "SchemaChecker",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Prod_RowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@{concat('\nSELECT COUNT(*) AS SchemaMismatchCount\nFROM (\n    SELECT COLUMN_NAME, DATA_TYPE, IS_NULLABLE\n    FROM INFORMATION_SCHEMA.COLUMNS\n    WHERE TABLE_SCHEMA = ''', pipeline().parameters.table_schema, '''\n      AND TABLE_NAME = ''', pipeline().parameters.st_table_name, '''\n    EXCEPT\n    SELECT COLUMN_NAME, DATA_TYPE, IS_NULLABLE\n    FROM INFORMATION_SCHEMA.COLUMNS\n    WHERE TABLE_SCHEMA = ''', pipeline().parameters.table_schema, '''\n      AND TABLE_NAME = ''', pipeline().parameters.table_name, '''\n) Diff')}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SchemaChecker",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n  greater(activity('stg_RowCount').output.resultSets[0].rows[0].RowCount, activity('Prod_RowCount').output.resultSets[0].rows[0].RowCount),\n  equals(activity('SchemaChecker').output.resultSets[0].rows[0].SchemaMismatchCount, 0)\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "LoadData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{concat('\nSELECT *\nFROM [', pipeline().parameters.table_schema, '].[', pipeline().parameters.st_table_name, ']\nWHERE InsertedDate > ''', activity('watermark_logTable').output.firstRow.LastWatermarkValue, '''\n  AND InsertedDate > ''', activity('watermark_Json').output.firstRow.lastupdateddate, ''''\n)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "StagingTable",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@pipeline().parameters.st_table_name",
											"type": "Expression"
										},
										"table_schema": {
											"value": "@pipeline().parameters.table_schema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Prod_Table",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"table_schema": {
											"value": "@pipeline().parameters.table_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "MaxDate",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LoadData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{concat('\nSELECT MAX(InsertedDate) AS [MaxDate]\nFROM [', pipeline().parameters.table_schema, '].[', pipeline().parameters.st_table_name, ']'\n)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "StagingTable",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@pipeline().parameters.st_table_name",
											"type": "Expression"
										},
										"table_schema": {
											"value": "@pipeline().parameters.table_schema",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "CaptureNewWaterMark",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "MaxDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "lastupdateddate",
											"value": {
												"value": "@activity('MaxDate').output.firstRow.MaxDate",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "emptywatermark",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "watermark",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string",
				"defaultValue": "FactLegal"
			},
			"table_schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"st_table_name": {
				"type": "string",
				"defaultValue": "stg_FactLegal"
			}
		},
		"variables": {
			"hello": {
				"type": "String",
				"defaultValue": "test"
			}
		},
		"annotations": []
	}
}